@import "../../styles/variables";

.about-page {
  &__content {
    padding: 30px $mobileMargin 0 $mobileMargin;
    font-size: 1.2rem;
    max-width: $maxWidth;
    margin-left: auto;
    margin-right: auto;

    &--center {
      margin-left: auto;
      margin-right: auto;
      text-align: center;
    }
  }
}

@media (min-width: 768px) {
  .about-page {
    &__content {
      padding: 30px $desktopMargin 0 $desktopMargin;
    }
  }
}
