@import "../../base.scss";

$hamburgerSize: 32px;
$hamburgeColor: $menuPrimary;
$hamburgerHoverColor: $menuSecondary;

input#mobile-menu__checkbox {
  display: none;
}

label.mobile-menu__checkbox-label {
  cursor: pointer;
  display: block;
  height: $hamburgerSize;
  width: $hamburgerSize;
  // position: fixed;
  z-index: 200;
}

label.mobile-menu__checkbox-label .mobile-menu__bar,
label.mobile-menu__checkbox-label .mobile-menu__bar::before,
label.mobile-menu__checkbox-label .mobile-menu__bar::after {
  background: $hamburgeColor;
  content: "";
  display: block;
  height: calc($hamburgerSize/6);
  width: $hamburgerSize;
  position: absolute;
  transition: background ease 0.3s, top ease 0.3s 0.3s, transform ease 0.3s;
}

label.mobile-menu__checkbox-label:hover .mobile-menu__bar,
label.mobile-menu__checkbox-label:hover .mobile-menu__bar::before,
label.mobile-menu__checkbox-label:hover .mobile-menu__bar::after {
  background: $hamburgerHoverColor;
}

label.mobile-menu__checkbox-label .mobile-menu__bar {
  // left: 18px;
  top: calc($menuHeight/2);
}

label.mobile-menu__checkbox-label .mobile-menu__bar::before {
  top: calc($hamburgerSize/3 * -1);
}

label.mobile-menu__checkbox-label .mobile-menu__bar::after {
  top: calc($hamburgerSize/3);
}

#mobile-menu__checkbox:checked
  + label.mobile-menu__checkbox-label
  .mobile-menu__bar {
  background: transparent;
}

#mobile-menu__checkbox:checked
  + label.mobile-menu__checkbox-label
  .mobile-menu__bar::before {
  transform: rotate(45deg);
}

#mobile-menu__checkbox:checked
  + label.mobile-menu__checkbox-label
  .mobile-menu__bar::after {
  transform: rotate(-45deg);
}

#mobile-menu__checkbox:checked
  + label.mobile-menu__checkbox-label
  .mobile-menu__bar::before,
#mobile-menu__checkbox:checked
  + label.mobile-menu__checkbox-label
  .mobile-menu__bar::after {
  top: 0;
  transition: top ease 0.3s, transform ease 0.3s 0.3s;
}

.mobile_menu__pulldown-container {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  top: 90px;
  height: 0;
  position: absolute;
  transition: height ease 0.6s;
  width: 100%;
  left: 0;
  right: 0;
  z-index: 100;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: $pullDownMenuBackground;
  color: $menuPrimary;
  font-size: 22px;
  font-weight: 400;
  line-height: 32px;

  a {
    color: $primary;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 400;
    line-height: 32px;
    margin-top: 22px;
  }
}

#mobile-menu__checkbox:checked ~ .mobile_menu__pulldown-container {
  height: calc(100vh - 80px);
}
