@import "../../styles/variables";

.food-page {
  &__content {
    padding: 30px 0 0 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
    font-size: 1.2rem;
  }

  &--center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  &__section {
    padding: 30px $mobileMargin 0 $mobileMargin;
  }

  &__header {
    font-variant-caps: titling-caps;
    font-family: "Teko", sans-serif;
  }
  &__item {
  }
}

.watermark {
  display: block;
  position: relative;
}

.watermark::after {
  content: "";
  background: url("https://railwerksbrewingdepot.com/images/rwbdNewLogo.jpg");
  opacity: 0.05;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  position: absolute;
  z-index: -1;
  background-position: center; /* Center the image */
  background-repeat: repeat-y; /* Do not repeat the image */
  background-size: contain;
}

@media (min-width: $tabletBreakpoint) {
  .food-page {
    &__section {
      padding: 30px $tabletMargin 0 $tabletMargin;
    }
  }
}

@media (min-width: $desktopBreakpoint) {
  .food-page {
    &__section {
      padding: 30px $desktopMargin 0 $desktopMargin;
    }

    .watermark::after {
      content: "";
      background-repeat: no-repeat; /* Do not repeat the image */
    }
  }
}
