// $background-color: #f06292;
// $text-color: #f1d3b3;
// $btn-width: 120px;
// $btn-height: 40px;
// $block-padding: 60px;

$menu-height: 75px;
$branding-icon-height: 55px;
$color: black;
$hoverColor: #666666;
