@import "../../styles/variables";

.contact-page {
  &__content {
    padding: 50px $mobileMargin 0 $mobileMargin;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: $maxWidth;
    margin-left: auto;
    margin-right: auto;
  }

  &__column {
  }

  &--center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  &__brand {
    font-family: "Teko", sans-serif;
    font-size: 30px;
  }
  &__detail,
  &__detail a {
    color: black;
    margin-bottom: 10px;
  }
  &__map-link {
    text-decoration: none;
  }
}

@media (min-width: $desktopBreakpoint) {
  .contact-page {
    &__content {
      padding: 50px $desktopMargin 0 $desktopMargin;
      flex-direction: row;
    }
  }
}
