@import "../../styles/variables";

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: white;
  opacity: 0.95;
  border-bottom: 1px solid lightgray;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: $menuHeight;
  padding: calc(($menuHeight - $brandingIconHeight) / 2) 10px 0px 10px;
  z-index: 100;

  &__navigation-wrap {
    padding-bottom: 15px;
    background-color: white;
  }

  &__mobile-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &__brand-icon {
    width: $brandingIconHeight;
    &:hover {
      width: calc($brandingIconHeight + 1px);
    }
  }

  &__navigation-toggle {
    z-index: 1000;
    cursor: pointer;

    &-icon {
      width: 50px;
      padding: 10px;
      &:hover {
        width: 52px;
      }
    }
  }

  &--toggled {
    height: unset;
  }

  &__order-now {
    margin: 0;
    padding: 2px 20px 0px 20px;
    text-decoration: none;
    font-variant-caps: titling-caps;
    font-family: "Teko", sans-serif;
    font-size: 30px;
    color: $color;
    border: 2px solid black;
    border-radius: 5px;

    &:hover {
      transform: scale(1.01) perspective(1px);
    }
  }
}

// @media (min-width: $desktopBreakpoint) {
//   .header {
//     max-height: unset;
//     display: flex;
//     flex-direction: row;
//     justify-content: space-between;
//     align-items: center;
//     padding: 0px 10px;

//     &__navigation-wrap {
//       display: flex;
//       flex-direction: row;
//       justify-content: space-between;
//       align-items: center;
//     }

//     &__navigation-toggled,
//     &__navigation-wrap,
//     &--toggle,
//     &__mobile-wrapper {
//       display: none;
//     }
//   }
// }
