@import "../../styles/variables";

.footer {
  width: 100%;
  max-width: $maxWidth;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: top;
  padding: 50px;

  &--center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  &__brand-name {
    font-variant-caps: titling-caps;
    font-family: "Teko", sans-serif;
    font-weight: bold;
    font-size: 20px;
  }

  &__title {
    margin: 10px 0 5px 0;
  }
  &__value {
    margin-bottom: 30px;

    a {
      color: black;
    }
  }

  &__map-link {
    text-decoration: none;
  }
}

@media (min-width: 768px) {
  .footer {
    flex-direction: row;
    padding: 75px;

    &__column {
      width: 50%;
    }
  }
}
