@import "../../base.scss";

.footer {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: top;
  padding: 0 50px 50px 50px;

  &__column {
    padding: 0;
    margin: 0;
  }

  &--center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  &__brand-name {
    font-variant-caps: titling-caps;
    font-weight: bold;
    font-size: 20px;
  }

  &__hours-title {
    color: $primary;
  }

  &__title {
    margin: 10px 0 5px 0;
  }
  &__value {
    margin-bottom: 30px;
    color: $secondary;
    a {
      color: $secondary;
    }
  }

  &__map-link {
    text-decoration: none;
  }

  &__hours-title {
    margin-top: 0;
    margin-bottom: 0;
  }
  &__hours-list {
    color: $secondary;
    list-style-type: none;
    margin: 0 0 20px 0;
    padding: 0;
  }
}

@media (min-width: 780px) {
  .footer {
    flex-direction: row;
    justify-content: space-between;

    &__column {
      padding: 0 50px;
    }

    &__hours-title {
      margin-top: 30px;
      margin-bottom: 0;
    }
  }
}
