$menuHeight: 90px;
$heroHeight: 80vh;

$menuPrimary: #333333;
$menuBackground: #ffffff;
$menuSecondary: #aaaaaa;
$pullDownMenuBackground: rgba(34, 34, 34, 0.9);

$primary: #ffffff;
$background: #222222;
$secondary: #aaaaaa;

$tabletBreakpoint: 768px;
$desktopBreakpoint: 1024px;

$mobileMargin: 25px;
$tabletMargin: 75px;
$desktopMargin: 75px;
