@import "../../styles/variables";

#front-page-content {
  margin-top: -100px;
}

.front-page {
  &__content {
    padding: 130px $mobileMargin 0 $mobileMargin;
    font-size: 1.2rem;
    max-width: $maxWidth;
    margin-left: auto;
    margin-right: auto;

    &--center {
      margin-left: auto;
      margin-right: auto;
      text-align: center;
    }
  }

  a {
    color: black;
  }

  &__quote {
    margin: 0 auto;
    font-family: "Teko", sans-serif;
    font-size: 35px;
    max-width: 400px;
    text-align: center;
  }

  &__video {
    max-width: 600px;
    margin: 0 auto 2rem auto;
  }

  &__railpass-cta {
    width: 300px;
    max-width: 100%;
  }
}

.youtube-video {
  aspect-ratio: 16 / 9;
  width: 100%;
}

@media (min-width: 768px) {
  .front-page {
    &__content {
      padding: 130px $desktopMargin 0 $desktopMargin;
    }
  }
}
