@import "../../styles/variables";

.decorative-photo-logo {
  margin-top: $menuHeight;
  position: relative;
  display: block;
  height: calc(100vh - $menuHeight);
  background-image: url("../../../public/images/beerOnTrack1.jpg");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */

  &__logo {
    position: absolute;
    // left: calc(50vw - 35vh / 1.4);
    left: 6vw;
    top: 10%;
    width: 90vw;
    aspect-ratio: 570 / 777;
  }
}

@media (min-width: $tabletBreakpoint) {
  .decorative-photo-logo {
    &__logo {
      left: 11vw;
      top: 10%;
      width: 80vw;
    }
  }
}

@media (min-width: $desktopBreakpoint) {
  .decorative-photo-logo {
    width: 100%;

    &__logo {
      width: unset;
      position: absolute;
      right: 55%;
      left: unset;
      top: 20%;
      height: 60%;
      border-radius: 5px;
    }
  }
}
